@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
}

.loading-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-box__mark {
    width: 10px;
    height: 10px;
    border: 3px solid #fb5b53;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin .5s linear 0s infinite;
}