body {
    width: 312px;
    font-size: 75%;
}

p {
    margin: 0px;
}

input[type=range]:focus-visible {
    outline: 0;
}

.settings__heading {
    margin: 0px;
    font-weight: 400;
    margin-bottom: 8px;
    padding-bottom: 1px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.page-info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.page-info__item__favicon {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.page-info__item__title {
    overflow: hidden;
    max-height: 72px;
}

.settings__volume-level-controller__slider {
    width: 100%;
}

.settings__volume-persent {
    display: flex;
    justify-content: space-between;
}

.settings__volume-persent__min, .settings__volume-persent__max {
    color: #a0a0a0;
}

.settings__volume-persent__current {
    color: #303030;
    font-weight: bold;
}

.settings__volume-persent__current::before {
    content: "Volume: ";
}

.settings__volume-persent__min::after, .settings__volume-persent__current::after, .settings__volume-persent__max::after {
    content: "%";
}

